html{
  background: yellow;
}
.addBtn{
    background: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 2px solid lightgreen;
    border-radius: 2px;
    width: 100px;
    margin-left: 30px;
}
.remove_btn{
  background: lightgreen;
  border: 2px solid lightgreen;
  border-radius: 2px solid lightgreen;
  border-radius: 2px;
  margin-right: 10px;
}

.btn-primary{
  background: lightgreen;
  border: 2px solid lightgreen;
  border-radius: 2px solid lightgreen;
  border-radius: 2px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.outer{
  margin-left: 32% !important;
  margin-top: 10px;
 
}
.myBtnrmv{
  margin-top: 10px;
}

.list_wrap{
  margin-bottom: 15px !important;
  border: 2px solid gray;
  padding: 30px;
  width:50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
